<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79081955572-edhe56p7k9vmociseqp3qgnf3q5vtim8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79081955572-edhe56p7k9vmociseqp3qgnf3q5vtim8</string>
	<key>API_KEY</key>
	<string>AIzaSyDQadOAAD9zIx8ZPl8Ifh282Zf-osbqrVw</string>
	<key>GCM_SENDER_ID</key>
	<string>79081955572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verinvestMobile</string>
	<key>PROJECT_ID</key>
	<string>verinvest-pbp</string>
	<key>STORAGE_BUCKET</key>
	<string>verinvest-pbp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79081955572:ios:f7459e54565836772c3ea1</string>
	<key>DATABASE_URL</key>
	<string>https://verinvest-pbp-default-rtdb.firebaseio.com</string>
</dict>
</plist>